.header-container {
  margin-bottom: 5px;
}

.save {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.session {
  margin: 10px;
}

.start {
  margin-right: 5px;
}

.header-edit {
  margin-right: 5px;
}

.edit-btn-container {
  margin-bottom: 5px;
}

.edit-error {
  color: darkred;
  font-size: 8pt;
}
